.env
Modèle_Note_Méthodologique.docx
Ferreira_Frederic_2_notebook_veille_042025.ipynb
clients_train_new.csv
clients_train_log_new.csv
clients_test_log_new.csv
Realisez_un_dashboard_et_assurez_une_veille_technique_Ferreira_Frederic
.venv